body {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    height: 83px;
    z-index: 1000;
}

.header-box {
    box-shadow: rgb(0 0 0 / 10%) 0px 8px 8px -8px;
}

.main-header {
    display: grid;
    grid-template-columns: 300px 1fr 200px;
    margin-top: 10px;
    height: 50px;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
}

.main-header .header-inicio span {
    font-size: 1rem;
    font-weight: 700;
    padding: 15px;
    border-radius: 3em;
}

.header-inicio {
    display: flex;
    align-items: center;
}

.header-search {
    width: 100%;
}

.header-search .search {
    width: 100%;
}

.header-search input {
    background: #efefef;
    border: none;
    padding: 20px;
    flex: 1;
}

.input-search:hover #search-icon-one {
    outline: none;
    background: #ddd;
}

.input-search:hover #search-icon-two {
    outline: none;
    background: #ddd;
}

.input-search:hover #search-icon-three {
    outline: none;
    background: #ddd;
}

.header-search input[type=text]:focus {
    box-shadow: rgb(0 132 255 / 50%) 0px 0px 0px 4px;
}

.header-inicio .pinterest-logo {
    width: 30px;
}

.header-profile {
    display: flex;
    color: #767676;
    align-items: center;
}

.main-header .header-profile span {
    cursor: pointer;
    margin: 0 1px;
    padding: 10px;
    border-radius: 3em;
}

.main-header .header-profile .material-icons {
    font-size: 28px !important;
}

.main-header .header-profile .icon-arrow {
    font-size: 20px !important;
    padding: 5px !important;
}

.main-header .header-inicio span:first-child {
    background: none;
}

.main-header .header-inicio span:hover {
    background: #efefef;
}

.main-header .header-inicio span:nth-child(0n+2) {
    color: white;
    background: black;
}

.main-header .header-profile span:hover {
    background: #efefef;
}

.main-header .header-profile button {
    border: none;
    cursor: pointer;
    background: none;
    padding: 1px;
    border-radius: 3em;
}

.main-header .header-profile button:hover {
    background: #efefef;
}

.input-search {
    display: flex;
    position: relative;
    border: none;
    flex-direction: row;
}

.input-search .icon {
    background: #efefef;
    border-radius: 3em 0 0 3em;
    padding: 20px;
    align-self: center;
}

.btn-input-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-search button {
    width: 150px;
    background: #efefef;
    border: none;
    border-radius: 0 3em 3em 0;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

.input-search button:hover {
    background: #ddd;
}

.input-search .line1 {
    background: #efefef;
}


/* Contenedor */

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-gap: 15px;
    justify-content: center;
    margin-top: 90px;
    position: relative;
}

.card {
    border-radius: 5px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-size-900 {
    grid-row-end: span 3;
}

.card-size-600 {
    grid-row-end: span 2;
}

.card-size-300 {
    grid-row-end: span 1;
}

.card-image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #d1d1d1;
    visibility: hidden;
    opacity: 0;
    border-radius: 8px;
}

.card:hover .card-image-overlay {
    visibility: visible;
    opacity: .8;
    cursor: zoom-in;
}

.card-wrap {
    position: relative;
}

.button-more-icon {
    padding: 10px;
    margin: 3px;
    color: black;
    /* background: rgb(230, 0, 35); */
    background: #efefef;
    border-radius: 3em;
    cursor: pointer;
    height: 15px;
}

.button-save-left {
    padding: 10px;
    background: #efefef;
    border-radius: .5em 0 0 .5em;
    cursor: pointer;
    display: inline-flex;
}

.button-save-left .material-icons {
    margin-left: 1.5em;
}

.button-save-right {
    padding: 10px;
    background: rgb(230, 0, 35);
    border-radius: 0 .5em .5em 0;
    color: white;
    cursor: pointer;
}

.card-hover {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.button-save {
    margin-top: 2em;
    font-weight: bold;
}

.button-more {
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 3em;
}

.material-icons {
    font-size: 20px !important;
    font-weight: bold;
}

.button-more-icon:first-child {
    display: flex;
    font-weight: bold;
    align-items: center;
}

.button-more-icon .material-icons:first-child {
    font-size: 15px !important;
}

.button-save-left:hover,
.button-more-icon:hover {
    background: white;
}

.input-search-display {
    display: none;
}

.search {
    border-radius: 3em;
    outline-width: 0 !important;
}

.header-profile .search-display {
    display: none;
}

.footerButton {
    position: fixed;
    display: inline-grid;
    bottom: 0;
    right: 0;
    padding: 20px 25px;
}

.roundedButton {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 0px 8px);
    margin: 4px;
}

.roundedButton:hover {
    background: #efefef;
}

.roundedButton .material-icons {
    font-size: 28px !important;
}

@media screen and (max-width:500px) {
    .card-hover {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .main-header {
        grid-template-columns: 120px 200px;
        justify-content: space-between;
    }
    .container {
        grid-template-columns: repeat(2, minmax(150px, 236px));
    }
    .header-profile .search-display {
        display: block;
    }
    .header-search,
    .header-initial-three,
    .header-initial-four {
        display: none;
    }
    .main-header .header-profile span {
        padding: 5px;
    }
}

@media screen and (min-width: 768px) and (max-width:833px) {
    .main-header {
        grid-template-columns: 130px auto 180px;
    }
    .header-initial-three,
    .header-initial-four {
        display: none;
    }
}

@media screen and (min-width: 833px) and (max-width:992px) {
    .main-header {
        grid-template-columns: 270px 380px 180px;
    }
}